body {
	font: 1em Arial;
	
}
h1 {
	background-color: #7FFFD4;
	color: #FFFFFF;
	font-size: 150%;
}
div {
  margin: 0;
  padding: 20px;
  background: #e7e6d4;
  overflow: auto;
}
#upper {
	background-color: white;
	color: black;
	font-size:200%;
	text-align: center;
}
.example,
.result {
  float: left;
  width: calc(90% / 2 - 20px);
  height: auto;
  margin-right: 20px;
  background: #ffffff;
  border: 3px dashed #666666;
	}
