@media print { 
          p {color:black !important}
          a[href*="//"]::after {content:" на <"attr(href)">"}
          a[href*="//"]::before {content:"ссылка ";}
        }
        .name {
            font-weight: bold; font-size: 24px;
            margin-top: 5mm;
        }
        .birthday {
            color: green
        }
        .champion {
            color: red; font-weight: bold
        }
        .info {
            font-style: italic; color: blue
        }
        #important {
            border: 1px solid red;
        }
        a[href*="//"] {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=)left center no-repeat;
            padding-left: 10px;
            text-decoration: none;
            font-weight: bold
            }
      p {
            margin: 0;
        }