body {
        display: flex;
    justify-content: center;
}
#art-main{
    display: flex;
    flex-direction: column;
}
.poloskaHead{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
        height: 30px;
    background: #f0f0f0;
    margin-top: -0.4em;
}
.art-search{
    position: relative;
}
form.art-search{
    margin: 2px;
}
input#mod-search-searchword.inputbox_poisk, input.art-search-button{
    border-bottom: 2px solid #c0c0c0;
}
.art-search input[type="text"]{
    background: #f8f8f8;
    border:0;
    border-radius: 0;
    margin: 0 auto;
    width: 220px;
    height: 28px;
    padding: 4px 0 4px 12px;
    box-sizing: border-box;
    color: #404040 !important;
    font-size: 1em;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    position: absolute;
    right:0
}

::-webkit-input-placeholder {color:#c0c0c0;font-size: 0.8em}
::-moz-placeholder {color:#c0c0c0;font-size: 0.8em}/* Firefox 19+ */
:-moz-placeholder {color:#c0c0c0;font-size: 0.8em}/* Firefox 18- */
:-ms-input-placeholder {color:#c0c0c0;font-size: 0.8em}
input:focus::-webkit-input-placeholder {color:transparent;text-overflow:ellipsis}
input:focus:-moz-placeholder {color:transparent;text-overflow:ellipsis}
input:focus::-moz-placeholder {color:transparent;text-overflow:ellipsis}
input:focus:-ms-input-placeholder {color:transparent;text-overflow:ellipsis}
 
form.art-search input[type="submit"]{
    position: absolute;
    right: 0;
    border: none;
    background: url(http://slutsk-gorod.by/templates/sg3/images/searchicon.png) center center no-repeat;
    width: 24px;
    height: 100%;
    padding: 0;
    color: #FFFFFF !important;
    cursor: pointer;
}
.art-header{
    border-bottom: 5px solid #E04040;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 90px;
    background-image: url(http://slutsk-gorod.by/templates/sg3/images/header.png);
    background-position: 0 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.art-logo img{
    margin-top: 6px
}
.art-nav {

    position: absolute;
    margin: 0;
    bottom: 11px;
    width: 100%;
    z-index: 100;
 
}
ul.art-hmenu {
    display: flex;
    justify-content: right;
    flex-direction: row;
    position:absolute;
top: -2em;
list-style: none
}

ul.art-hmenu li li{
    visibility: hidden
}
ul.art-hmenu li{
    margin:0 0.5em 0 0;
    flex-basis: 100px
} 
.item-227{
    margin-left: 15em;
}

