.container {
    font-family: Arial
}
li {
    list-style-type: none
}
ul{
    padding: 0;

}
.designation{
    float:left;
}
.block{
    display: inline-block;
}
.name_article {
    margin-right: 5em;
}
.name_rubric {
    margin-right: 8.9em;
}
.place_to_publish {
margin-right: 6.9em
}
.allow_comments {
margin-right: 1.1em
}
.width_name, #tittle, #article {
    width:100%;
}
.input_text { 
  overflow: hidden; 
text-align: right}

@media screen and (max-width: 450px){
.designation{
    float:none;
}
li.form .block{
    display:block;
}
.width_rubric, #rubric{
    width:100%
}
.input_select{
    overflow: hidden;
}
.allow_comments {
    float:left;
}
}