.header, .footer{
    background-color: lightblue;
    text-align: center;
    color: blue;
    height: 3em;
    font-size: 1.5em;
    padding:0.5em;
    text-transform: uppercase;
    height: 100%;
}
.menu h2{
    font-size: 1.2em;
    padding-left: 1em;
    font-weight: bold
}
.menu ul{
    margin-right: 2em;
    text-align: left
}
.content{
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 40%
}
.menu{
    flex: 1 1 20%;
    background-color: #eaea4d;
    vertical-align: top;
}
.text{

    flex: 3 1 80%;
    background: url(maket/ball.png) top right repeat-y;
    padding: 1em
}
.text h3{
   font-size: 1.5em;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center
}
.text img{
    float: left;
    margin-bottom: 0.5em;
    margin-right: 1em;

}
@media all and (max-width: 40em){
    .text img{
        width: 100%;
    }
}
@media all and (max-width: 30em){
 .container .header,  .container .footer{
    display: none
}
.content{
    flex-flow: column wrap;
    flex-basis: 30em;
    width: 20em;
    justify-content: center;
    margin-left: 2em
}
.menu{
   flex: 1 1 20%;
   flex-grow: 1;
   order: 2;
   background: none
}
.text{
    flex-flow: 3 1 80%
    flex-grow: 3;
    order:1;
    background: none;
    padding: 0
}
.text img{
    margin: 0
}
.content .menu ul {
    padding-left: 0
}
.content .menu h2{
    margin-left: 0
}
.content .menu ul li{
  display: inline;
  margin-right: 0.5em;
  white-space: nowrap;
}
}
